/* VARS 
-------------------------------------------------------------- */
$body_width: 				100%;
$main_width:				1000px;
$post_width:        600px;
$gutter:					  10px;
$controls_width:		40px;
$body_pad:					20px;
$footer_height: 		400px;
$socail_width: 			50px;
$mobile_width:      97%;


$trans:	  					.3s;

/* COLORS  */
$text_main: 				#364744;									
$text_accent: 			#25e2bc;								
$page_bg:					  #fff5e2;
$body_bg:					  #fff5e2;
 

$font_main:					'Courier New', 'Courier', sans-serif; 
$font_header:				'Lato', sans-serif;
$font_fancy:				'Courier New', 'Courier', sans-serif;

$default-transition-property : all;
$default-transition-duration : .3s;
$default-transition-function : false;
$default-transition-delay    : false;


/* MIX-INS 
-------------------------------------------------------------- */
@mixin font($font: $font_main, $font_weight: 300){
	font-family: $font, sans-serif;
	font-weight: $font_weight;
}

@mixin link_trans($hov_color: $text_accent){
	cursor: pointer;
	transition: all $trans ease;
	&:hover{color: $hov_color;}
}

@mixin bp($point) {
  @if $point == l {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == m {
    @media (max-width: 1000px) { @content; }
  }
  @else if $point == s {
    @media (max-width: 700px)  { @content; }
  }
}


/* EXTEND
-------------------------------------------------------------- */
.inline_block{
	display: inline-block;
	zoom: 1;
	*display: inline;
}


.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

.link_switch{
  color: $text_main;

  &:hover{
    color: $text_accent;
  }
}

.header_main{
  font-family: $font_main;
  font-size: 48px;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: $text_accent;

  @include bp(s){
    font-size: 24px;
  }
}

.header_2{
  font-family: $font_header;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 900;
  color: $text_accent;
}

.header_3{
  font-family: $font_main;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: normal;
  color: $text_accent;
}

.header_4{
  font-family: $font_header;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 40px;
  text-align: right;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 900;
  color: $text_accent;
}



/* EXTRAS
-------------------------------------------------------------- */
*{
	@include box-sizing(border-box);
}









