@import "compass";
@import "_reset";
// @import "_normalize";
@import "_base";



/* COMMON 
-------------------------------------------------------------- */
body{
	@include font;
	background-color: $body_bg;  
	color: $text_main;
	font-size: 18px;
	font-weight: 400;
	
}

a{
	@include link_trans;
	color: $text_accent;
	text-decoration: none;
	
	&:hover{color: $text_main;}
} 

li a.active,
li.opened span.nolink{color: $text_main;}

h1, h2, h3, h4{

}

h1{@extend .header_main;}
h2{@extend .header_2;}
h3{@extend .header_3;}

h1.title{
	margin-bottom: 130px;
	margin-top: -30px;
}
.node > h2{
	margin: 0 !important;
}

p{
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
}

ul,
ul.menu,
ul.menu li{
	list-style: none;
	text-align: inherit;
	margin: 0;
	padding: 0;
}

/**{
	@include bp(m){
		img{
			max-width: $mobile_width;
			height: auto;
		}
	}
}*/

 
/* HEADER 
-------------------------------------------------------------- */
#header{
	
	width: 100%;
	z-index: 100;

	.social-icons{
		float: right;
		margin-top: 50px;
	}

	.press-item{
		

		p{
			font-size: 14px;
		}

		.author{
			@extend .header_4;
			letter-spacing: 1px;
			font-size: 12px;
			margin-top: 0;
		}
	}

	@include bp(s){
		text-align: center;
	}
}

.press-item + .press-item{
	margin-top: 20px;

	.image-right{
		margin-top: 5px;
		margin-left: 10px;
	}
}

#block-block-3{
	float: right;
		margin-top: 50px;
		max-width: 200px;
		text-align: right;

		@include bp(s){
			display: none;
		}
}

.image-right{
	float: right;
}

#header-inner{
	@extend .clearfix;
	max-width: $main_width;
	margin: auto;
	text-align: center;

	@include bp(m){
		max-width: 700px;
	}

	@include bp(m){
		width: 100%;
	}
}

#logo-big{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -250px;
	z-index: 100;
	width: 500px;

	a{
		/*background: url(../images/Hatfields_logo-large.png) no-repeat;
		display: block;
		width: 500px;
		height: 320px;*/

	}

	img{
		width: 100%;
		height: auto;
	}

	@include bp(m){
		width: 300px;
		margin-left: -150px;
	}

	@include bp(s){
		position: relative;
		top: auto;
		left: auto;
		margin: 0 0 20px;
		width: 100%;
		text-align: center;

		img{
			max-width: 300px;
		}
	}
}

#logo-small{

}


#nav{
	float: left;
	padding-top: 50px;
	color: $text_accent;
	text-align: left;
	font-family: $font_header;
	
	ul{
		margin-left: 17px;
	}

	li{
		list-style: decimal;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 900;
		letter-spacing: 1px;
		margin-bottom: 10px;

		a{
			padding-left: 10px;
		}
		
		&.active-trail{
			color: $text_main;
		}
	}

	@include bp(s){
		float: none;
		width: 150px;
		margin: auto;
		padding-top: 0;
	}
 
}


/* MAIN 
-------------------------------------------------------------- */
#main-content{

}

#main{
	margin-top: 50px;
}

.panel-pane{
	max-width: $main_width;
	margin: auto;

	@include bp(m){
		max-width: 700px;
	}
}

.panel-separator{
	display: block;
	width: 100%;
	height: 1px;
	border-bottom: $text_accent dashed 1px;
	margin: 80px 0;
}
.header-image{
	text-align: center;
	margin-bottom: 40px;

	@include bp(m){
		text-align: center;

		img{
			max-width: 98%;
			height: auto;
		}
	}
}

.side-left{
	float: left;
	width: 50%;
	padding-right: 40px;
}

.side-right{
	float: right;
	width: 50%;
	padding-left: 40px;
}

.side-center{
	width: 50%;
	margin: auto;
}

.side-left,
.side-right,
.side-center{

	p{
		text-align: justify;
	}

	p + p{
		margin-top: 20px;
	}

	p + h2{
		margin-top: 40px;
	}

	@include bp(s){
		width: 90%;
		float: none;
		margin: 0 auto 40px;
		padding: 0;

		p{
			font-size: 14px;
		}
	}
}


/* IMAGE GALLERY 
-------------------------------------------------------------- */
.gallery-full{
	position: relative;

	.images{
		width: 100%;
		height: 600px;
		position: relative;

		.field-name-field-images{
			position: absolute;
			top: 0;
			left: 0;
			cursor: pointer;
		}
	}

	@include bp(m){
		max-width: 700px;

		.images{
			height: 400px;

			.field-name-field-images{
				
				img{
					width: 700px;
					height: auto;
				}
			}

		}
	}

	@include bp(s){
		max-width: 100%;

		.images{
			height: auto;
			text-align: center;

			.field-name-field-images{
				position: relative;
				top: auto;
				left: auto;
				text-align: center;

				img{
					width: 98%;
					height: auto;
					margin-bottom: 2px;
				}
			}

		}
	}
	
}

.controls{

	.last-item,
	.next-item{
		background: url(../images/controls.png);
		width: 100px;
		height: 200px;
		position: absolute;
		top: 50%;
		margin-top: -100px;
		cursor: pointer;
	}

	.last-item{
		left: -50px;
	}

	.next-item{
		right: -50px;
		background-position: 0 -100px;
	}

	@include bp(s){
		display: none;
	}
}


/* MENU
-------------------------------------------------------------- */
.field-name-field-menu-section{
	border-bottom: $text_accent dashed 1px;
	margin: 0 0 80px;
}

.field-name-field-menu-section-title{
	@extend .header_main;
}

.field-name-field-menu-item{
	max-width: 50%;
	margin: 0 auto 40px;
	text-align: center;

	@include bp(s){
		max-width: 90%;
	}
}

.group-title-price{
	@extend .clearfix;
}

.field-name-field-menu-item-title{
	@extend .header_4;
	margin: 0 0 10px;
	
	text-align: center;
}

.field-name-field-menu-item-price{
	margin-top: 20px;
	display: block;
}

.field-name-field-menu-item-description{
	
}

.field-name-field-menu-section-sub-title{
	@extend .header_3;
	color: $text_main;
	margin: -40px 0 40px;
}

.field-name-field-menu-item-footer{
	margin-top: 10px;
	color: $text_accent;
	font-size: 40px;
	text-align: center;
}



/* PRESS 
-------------------------------------------------------------- */
.press-teaser{

	width: 32%;
	margin: 0 .5% 10px;
	float: left;
	border: $text_accent dashed 1px;
	padding: 10px;

	.cover{
		text-align: center;
	}

	.body{
		text-align: justify;
	}

	.author{
		@extend .header_4;
		text-align: right;
		margin-top: 10px;
		font-size: 14px;
		letter-spacing: 1px;
	}

	@include bp(m){
		width: 48%;
		margin: 0 .5% 10px;
	}

	@include bp(s){
		width: 98%;
		margin: 1%;

		.field-name-field-cover-image{
			text-align: center;
		}
	}
}

.view-press .views-row:nth-child(3n+1){
	clear: both;
}






/* FOOTER
-------------------------------------------------------------- */
#footer{
	background-color: $text_main;
	color: $page_bg;
	margin-top: 80px;

	.inner{
		@extend .clearfix;
		max-width: $main_width;
		margin: 0 auto;
	}

	#logo-med{
		float: left;
		margin-bottom: 40px;

		@include bp(m){
			float: none;
		}
	}

	@include bp(m){
		text-align: center;

		#map-footer{
			img{
				max-width: 98%;
				height: auto;
			}
		}
	}
}


#footer-main{
	float: right;
	width: 330px;
	text-align: right;

	h4{
		@extend .header_4;
	}

	h5{
		font-family: $font_header;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 2px;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 5px;
	}

	h4 + h5{
		margin-top: 0;
	}

	@include bp(m){
		float: none;
		text-align: center;
		width: auto;

		h4{
			text-align: center;
		}
	}
}

#footer-side{
	float: left;
	width: 670px;

	@include bp(m){
		float: none;
		margin-top: 40px;
		width: auto;
	}
}

#footer-bottom{
	clear: both;
	background-color: darken($text_main, 10%);
	text-align: center;
	padding: 20px 0;
	font-family: $font_header;
	font-size: 12px;
	color: $text_accent;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	margin-top: 40px;
}

/* SOCIAL
-------------------------------------------------------------- */
.social-icons{

	.icon{
		@include border-radius($socail_width / 2);
		background: transparent url(../images/bb_social.png) no-repeat;
		height: $socail_width;
		width: $socail_width;
		display: inline-block;
	
		@include transition;

		&:hover{opacity: .5;}
	}

	.twitter{background-position: -$socail_width 0;}
	.instagram{background-position: -($socail_width * 2) 0;}
	.youtube{background-position: -($socail_width * 3) 0;}
	.pinterest{background-position: -($socail_width * 4) 0;}
}


/* EXTRAS
-------------------------------------------------------------- */
body.cke_show_borders{width: $post_width !important; min-width: $post_width; margin: 0 auto;}

.image-post_full {
	position: relative;
	z-index: 1;
}

#cboxContent, .cboxPhoto{
	border-radius: 0 !important;
}

#cboxClose.cbox-close-plain{
	border-radius: 0 !important;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	font-size: 14px;
}








