@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 19, ../sass/_reset.scss */
body {
  line-height: 1; }

/* line 22, ../sass/_reset.scss */
ol, ul {
  list-style: none; }

/* line 25, ../sass/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 29, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none; }

/* line 34, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'special_eliteregular';
  src: url("../fonts/SpecialElite-webfont.eot");
  src: url("../fonts/SpecialElite-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SpecialElite-webfont.woff") format("woff"), url("../fonts/SpecialElite-webfont.ttf") format("truetype"), url("../fonts/SpecialElite-webfont.svg#special_eliteregular") format("svg"); }
@font-face {
  font-family: 'LatoBold';
  src: url("../fonts/lato-bold.eot");
  src: url("../fonts/lato-bold.eot") format("embedded-opentype"), url("../fonts/lato-bold.woff") format("woff"), url("../fonts/lato-bold.ttf") format("truetype"), url("../fonts/lato-bold.svg#LatoBold") format("svg"); }
@font-face {
  font-family: 'LatoRegular';
  src: url("../fonts/lato-regular.eot");
  src: url("../fonts/lato-regular.eot") format("embedded-opentype"), url("../fonts/lato-regular.woff") format("woff"), url("../fonts/lato-regular.ttf") format("truetype"), url("../fonts/lato-regular.svg#LatoRegular") format("svg"); }
@font-face {
  font-family: 'LatoLight';
  src: url("../fonts/lato-light.eot");
  src: url("../fonts/lato-light.eot") format("embedded-opentype"), url("../fonts/lato-light.woff") format("woff"), url("../fonts/lato-light.ttf") format("truetype"), url("../fonts/lato-light.svg#LatoLight") format("svg"); }
@font-face {
  font-family: 'base';
  src: url("../fonts/base.eot?1o50p");
  src: url("../fonts/base.eot?#iefix1o50p") format("embedded-opentype"), url("../fonts/base.woff?1o50p") format("woff"), url("../fonts/base.ttf?1o50p") format("truetype"), url("../fonts/base.svg?1o50p#base") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 12, ../sass/_icons.scss */
[class^="icon-"], [class*=" icon-"], a.service-links-twitter, a.service-links-facebook, a.service-links-google-plus {
  font-family: 'base';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
/* line 29, ../sass/_icons.scss */
[class^="icon-"] img, [class*=" icon-"] img, a.service-links-twitter img, a.service-links-facebook img, a.service-links-google-plus img {
  display: none; }

/* line 34, ../sass/_icons.scss */
.icon-cart:before {
  content: "\e610"; }

/* line 37, ../sass/_icons.scss */
.icon-bubble:before {
  content: "\e611"; }

/* line 40, ../sass/_icons.scss */
.icon-cog:before {
  content: "\e612"; }

/* line 43, ../sass/_icons.scss */
.icon-close:before {
  content: "\e613"; }

/* line 46, ../sass/_icons.scss */
.icon-checkmark:before {
  content: "\e614"; }

/* line 49, ../sass/_icons.scss */
.icon-minus:before {
  content: "\e615"; }

/* line 52, ../sass/_icons.scss */
.icon-plus:before {
  content: "\e616"; }

/* line 55, ../sass/_icons.scss */
.icon-feed:before {
  content: "\e601"; }

/* line 58, ../sass/_icons.scss */
.icon-youtube:before {
  content: "\e602"; }

/* line 61, ../sass/_icons.scss */
.icon-vimeo:before {
  content: "\e603"; }

/* line 64, ../sass/_icons.scss */
.icon-apple:before {
  content: "\e604"; }

/* line 67, ../sass/_icons.scss */
.icon-amazon:before {
  content: "\e605"; }

/* line 70, ../sass/_icons.scss */
.icon-mail:before {
  content: "\e606"; }

/* line 73, ../sass/_icons.scss */
.icon-heart:before {
  content: "\e617"; }

/* line 76, ../sass/_icons.scss */
.icon-heart2:before {
  content: "\e618"; }

/* line 79, ../sass/_icons.scss */
.icon-search:before {
  content: "\e619"; }

/* line 82, ../sass/_icons.scss */
.icon-list:before {
  content: "\e60f"; }

/* line 85, ../sass/_icons.scss */
.icon-play:before {
  content: "\e61a"; }

/* line 88, ../sass/_icons.scss */
.icon-pause:before {
  content: "\e61b"; }

/* line 91, ../sass/_icons.scss */
.icon-stop:before {
  content: "\e61c"; }

/* line 94, ../sass/_icons.scss */
.icon-next:before {
  content: "\e61d"; }

/* line 97, ../sass/_icons.scss */
.icon-previous:before {
  content: "\e61e"; }

/* line 100, ../sass/_icons.scss */
.icon-first:before {
  content: "\e61f"; }

/* line 103, ../sass/_icons.scss */
.icon-last:before {
  content: "\e620"; }

/* line 106, ../sass/_icons.scss */
.icon-resize-enlarge:before {
  content: "\e621"; }

/* line 109, ../sass/_icons.scss */
.icon-resize-shrink:before {
  content: "\e622"; }

/* line 112, ../sass/_icons.scss */
.icon-sound:before {
  content: "\e623"; }

/* line 115, ../sass/_icons.scss */
.icon-mute:before {
  content: "\e624"; }

/* line 118, ../sass/_icons.scss */
.icon-arrow-left:before {
  content: "\e625"; }

/* line 121, ../sass/_icons.scss */
.icon-arrow-down:before {
  content: "\e626"; }

/* line 124, ../sass/_icons.scss */
.icon-arrow-up:before {
  content: "\e627"; }

/* line 127, ../sass/_icons.scss */
.icon-arrow-right:before {
  content: "\e628"; }

/* line 130, ../sass/_icons.scss */
.icon-flickr:before {
  content: "\e607"; }

/* line 133, ../sass/_icons.scss */
.icon-twitter:before, a.service-links-twitter:before {
  content: "\e608"; }

/* line 137, ../sass/_icons.scss */
.icon-facebook:before, a.service-links-facebook:before {
  content: "\e609"; }

/* line 141, ../sass/_icons.scss */
.icon-googleplus:before, a.service-links-google-plus:before {
  content: "\e60a"; }

/* line 145, ../sass/_icons.scss */
.icon-pinterest:before {
  content: "\e60b"; }

/* line 148, ../sass/_icons.scss */
.icon-tumblr:before {
  content: "\e60c"; }

/* line 151, ../sass/_icons.scss */
.icon-linkedin:before {
  content: "\e629"; }

/* line 154, ../sass/_icons.scss */
.icon-spotify:before {
  content: "\e600"; }

/* line 157, ../sass/_icons.scss */
.icon-instagram:before {
  content: "\e60d"; }

/* line 160, ../sass/_icons.scss */
.icon-soundcloud:before {
  content: "\e60e"; }

/* line 167, ../sass/_icons.scss */
.block-btns a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
/* line 170, ../sass/_icons.scss */
.block-btns a:hover {
  color: #fff !important; }
/* line 175, ../sass/_icons.scss */
.block-btns .icon-vimeo:hover {
  background-color: #aad450; }
/* line 178, ../sass/_icons.scss */
.block-btns .icon-twitter:hover {
  background-color: #00aced; }
/* line 181, ../sass/_icons.scss */
.block-btns .icon-facebook:hover {
  background-color: #3b5998; }
/* line 184, ../sass/_icons.scss */
.block-btns .icon-googleplus:hover {
  background-color: #dd4b39; }
/* line 187, ../sass/_icons.scss */
.block-btns .icon-pinterest:hover {
  background-color: #cb2027; }
/* line 190, ../sass/_icons.scss */
.block-btns .icon-instagram:hover {
  background-color: #517fa4; }

/* VARS 
-------------------------------------------------------------- */
/*  COLORS  */
/*  TYPOGROPHY */
/*  TRANSITIONS  */
/* MIX-INS 
-------------------------------------------------------------- */
/* PLACEHOLDERS & EXTENDS
-------------------------------------------------------------- */
/* line 82, ../sass/_base.scss */
#info .side ul li, .side-left .side ul li, .location-info ul li {
  margin-bottom: .5em;
  list-style: circle;
  margin-left: 16px; }

/* BASIC STYLES
-------------------------------------------------------------- */
/* line 9, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
/* line 12, ../sass/style.scss */
* img {
  max-width: 100%;
  height: auto; }

/* line 18, ../sass/style.scss */
body {
  font: 16px/1.5 "LatoLight", sans-serif;
  background-color: #d4c7a9;
  color: #4e4338; }

/* line 24, ../sass/style.scss */
a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #cc8025;
  text-decoration: none; }
/* line 29, ../sass/style.scss */
a:hover {
  color: #4e4338; }

/* line 34, ../sass/style.scss */
p {
  margin-bottom: 20px; }

/* line 39, ../sass/style.scss */
ul, ul.menu, ul.menu li {
  list-style: none;
  text-align: inherit;
  margin: 0;
  padding: 0; }

/* line 48, ../sass/style.scss */
li a.active, li.opened span.nolink {
  color: #4e4338; }

/* line 51, ../sass/style.scss */
h2 {
  font-family: "special_eliteregular", serif;
  font-size: 2em;
  letter-spacing: 4px;
  margin-bottom: 20px;
  text-align: center; }

/* line 59, ../sass/style.scss */
h3 {
  font-family: "LatoBold";
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 4px; }

/* line 66, ../sass/style.scss */
li + h3 {
  margin-top: 20px; }

/* line 70, ../sass/style.scss */
.divider {
  width: 100px;
  background-color: #cc8025;
  height: 2px;
  margin: 80px auto 0;
  display: block; }

/* Layout
-------------------------------------------------------------- */
/* line 80, ../sass/style.scss */
#header-nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  margin-bottom: -25px;
  padding: 0 40px; }
/* line 93, ../sass/style.scss */
#header-nav .inner {
  position: relative;
  background-image: url(../images/O+P-bg-accent.jpg); }
@media (max-width: 900px) {
  /* line 80, ../sass/style.scss */
  #header-nav {
    position: relative;
    text-align: center;
    height: auto; } }
@media (max-width: 900px) {
  /* line 80, ../sass/style.scss */
  #header-nav {
    position: fixed;
    top: 15px;
    margin-top: 0; } }

/* line 112, ../sass/style.scss */
#header-info {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 25px;
  line-height: 25px;
  padding: 0 40px; }
/* line 125, ../sass/style.scss */
#header-info .inner {
  position: relative;
  background-image: url(../images/O+P-bg-dk.jpg); }
/* line 130, ../sass/style.scss */
#header-info li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-right: 20px;
  font-family: "LatoBold", sans-serif;
  letter-spacing: 2px;
  font-size: .7em;
  color: #897663;
  text-transform: uppercase; }
/* line 139, ../sass/style.scss */
#header-info li:after, #header-info li.first:before {
  content: "•";
  font-size: .4em;
  line-height: 20px;
  text-decoration: none !important;
  display: inline;
  position: relative;
  margin-left: 20px;
  top: -2px; }
/* line 151, ../sass/style.scss */
#header-info li.first:before {
  padding-right: 20px; }
/* line 156, ../sass/style.scss */
#header-info .email {
  color: #897663; }
/* line 159, ../sass/style.scss */
#header-info .email:hover {
  color: #cc8025; }
/* line 164, ../sass/style.scss */
#header-info ul {
  text-align: center !important; }
@media (max-width: 700px) {
  /* line 112, ../sass/style.scss */
  #header-info {
    position: relative;
    text-align: center;
    height: auto;
    padding: 0; }
  /* line 174, ../sass/style.scss */
  #header-info .inner {
    padding: 10px 0; }
  /* line 178, ../sass/style.scss */
  #header-info li {
    padding: 5px 0;
    display: block;
    line-height: normal; }
  /* line 183, ../sass/style.scss */
  #header-info li:after, #header-info li.first:before {
    content: none;
    margin: 0;
    padding: 0; } }

/* line 196, ../sass/style.scss */
body.nav-top #header-nav {
  position: fixed;
  margin-top: 0;
  margin-bottom: 0; }

/* line 203, ../sass/style.scss */
#nav-main {
  *zoom: 1;
  text-transform: uppercase; }
/* line 38, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#nav-main:after {
  content: "";
  display: table;
  clear: both; }
@media (max-width: 900px) {
  /* line 203, ../sass/style.scss */
  #nav-main {
    display: none; } }
/* line 211, ../sass/style.scss */
#nav-main ul.menu {
  text-align: center !important; }
/* line 214, ../sass/style.scss */
#nav-main ul.menu li {
  display: inline-block; }
/* line 217, ../sass/style.scss */
#nav-main ul.menu li:after, #nav-main ul.menu li.first:before {
  content: "•";
  font-size: .4em;
  line-height: 20px;
  text-decoration: none !important;
  display: inline;
  color: #fff;
  position: relative;
  top: -2px; }
/* line 232, ../sass/style.scss */
#nav-main ul.menu a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  font-family: "LatoBold", sans-serif;
  letter-spacing: 4px;
  font-size: .8em; }
/* line 241, ../sass/style.scss */
#nav-main ul.menu a:hover {
  text-decoration: underline; }
/* line 245, ../sass/style.scss */
#nav-main ul.menu a.active {
  text-decoration: underline; }
@media (max-width: 900px) {
  /* line 211, ../sass/style.scss */
  #nav-main ul.menu {
    text-align: center !important; }
  /* line 255, ../sass/style.scss */
  #nav-main ul.menu li {
    display: block;
    line-height: normal;
    padding: 10px 0; }
  /* line 260, ../sass/style.scss */
  #nav-main ul.menu li:after, #nav-main ul.menu li.first:before {
    content: none;
    margin: 0;
    padding: 0; }
  /* line 270, ../sass/style.scss */
  #nav-main ul.menu a {
    line-height: normal; } }
/* line 279, ../sass/style.scss */
#nav-main .social-icons {
  position: absolute;
  right: 0;
  top: 0; }
/* line 284, ../sass/style.scss */
#nav-main .social-icons a {
  padding-left: 10px;
  padding-right: 10px;
  color: #fff; }
@media (max-width: 900px) {
  /* line 279, ../sass/style.scss */
  #nav-main .social-icons {
    position: relative; } }

/* line 297, ../sass/style.scss */
.menu-toggle {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  background: url(../images/O+P-bg-accent.jpg);
  z-index: 900;
  display: none;
  top: 0;
  right: -25px;
  background-color: #cc8025;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 2em;
  cursor: pointer; }
/* line 314, ../sass/style.scss */
.menu-toggle:hover {
  background-color: #4e4338; }
@media (max-width: 900px) {
  /* line 297, ../sass/style.scss */
  .menu-toggle {
    display: block; } }

/* line 323, ../sass/style.scss */
#content-main {
  position: relative;
  background: url(../images/O+P-bg-main.jpg);
  z-index: 20;
  padding-top: 25px; }
@media (max-width: 700px) {
  /* line 323, ../sass/style.scss */
  #content-main {
    padding-top: 0; } }

/* line 335, ../sass/style.scss */
#footer-main {
  background: url(../images/O+P-bg-dk.jpg);
  z-index: 10;
  position: relative; }

/* line 346, ../sass/style.scss */
.copy {
  padding: 20px;
  text-align: center;
  font-size: .8em;
  text-transform: uppercase; }

/* line 353, ../sass/style.scss */
.panel-pane {
  padding: 0 40px; }
@media (max-width: 700px) {
  /* line 353, ../sass/style.scss */
  .panel-pane {
    padding: 0 20px; } }

/* line 361, ../sass/style.scss */
.side-left {
  max-width: 1200px;
  margin: auto; }
/* line 365, ../sass/style.scss */
.side-left .main {
  float: left;
  width: 60%;
  padding-left: 40px; }
/* line 371, ../sass/style.scss */
.side-left .side {
  float: left;
  width: 40%;
  margin-top: -40px;
  background: url(../images/O+P-bg-dk.jpg);
  padding: 40px; }
@media (max-width: 700px) {
  /* line 371, ../sass/style.scss */
  .side-left .side {
    padding: 20px; } }
@media (max-width: 900px) {
  /* line 387, ../sass/style.scss */
  .side-left .main, .side-left .side {
    float: none;
    width: 100%; }
  /* line 393, ../sass/style.scss */
  .side-left .main {
    padding: 0;
    margin-bottom: 20px; }
  /* line 398, ../sass/style.scss */
  .side-left .side {
    margin-top: 0; } }

/* line 404, ../sass/style.scss */
.bg-dark {
  background: url(../images/O+P-bg-dk.jpg);
  padding: 40px; }

/* line 409, ../sass/style.scss */
.page-user #content-main > .inner {
  max-width: 800px;
  margin: 80px auto; }

/* About
-------------------------------------------------------------- */
/* line 417, ../sass/style.scss */
#about {
  max-width: 650px;
  margin: auto;
  padding: 80px 0; }
/* line 422, ../sass/style.scss */
#about p {
  text-align: justify; }
@media (max-width: 700px) {
  /* line 417, ../sass/style.scss */
  #about {
    padding: 20px 0; } }

/* line 431, ../sass/style.scss */
.quote {
  margin-bottom: 30px;
  margin-top: 40px; }
/* line 435, ../sass/style.scss */
.quote p {
  text-align: left !important;
  font-size: 1.4em;
  margin-bottom: 0;
  color: #cc8025; }
/* line 442, ../sass/style.scss */
.quote .author {
  text-transform: uppercase;
  text-align: right;
  font-size: .8em; }

/* Press
-------------------------------------------------------------- */
/* line 452, ../sass/style.scss */
.view-press {
  padding: 80px 0;
  max-width: 800px;
  margin: auto; }
@media (max-width: 700px) {
  /* line 452, ../sass/style.scss */
  .view-press {
    padding: 20px 0; } }

/* line 462, ../sass/style.scss */
.press {
  width: 48%;
  margin: 1%;
  border: #cc8025 dashed 2px;
  padding: 40px;
  text-align: center; }
/* line 469, ../sass/style.scss */
.press .stars {
  margin-bottom: 20px;
  color: #cc8025; }
/* line 473, ../sass/style.scss */
.press .stars span {
  padding: 0 5px; }
@media (max-width: 700px) {
  /* line 462, ../sass/style.scss */
  .press {
    width: 100%;
    margin: 0 0 20px;
    padding: 20px; } }

/* Info
-------------------------------------------------------------- */
/* line 490, ../sass/style.scss */
#info, .side-left {
  *zoom: 1;
  padding: 80px 0; }
/* line 38, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#info:after, .side-left:after {
  content: "";
  display: table;
  clear: both; }
@media (max-width: 900px) {
  /* line 495, ../sass/style.scss */
  #info .side, .side-left .side {
    margin-bottom: 40px; } }
@media (max-width: 700px) {
  /* line 490, ../sass/style.scss */
  #info, .side-left {
    padding: 20px 0; } }

/* line 511, ../sass/style.scss */
.location-info {
  margin-bottom: 40px; }
/* line 514, ../sass/style.scss */
.location-info h2 {
  font-size: 1em; }

/* line 523, ../sass/style.scss */
.map {
  -moz-box-shadow: 0px 0px 3px #88795a;
  -webkit-box-shadow: 0px 0px 3px #88795a;
  box-shadow: 0px 0px 3px #88795a;
  line-height: 0; }

/* Image Style
-------------------------------------------------------------- */
/* line 532, ../sass/style.scss */
.image-left {
  margin: 40px 40px 40px -120px;
  float: left;
  max-width: 470px;
  line-height: 0; }
@media (max-width: 900px) {
  /* line 532, ../sass/style.scss */
  .image-left {
    margin-left: 0;
    max-width: 300px; } }

/* line 544, ../sass/style.scss */
.image-right {
  margin: 40px -120px 40px 40px;
  float: right;
  max-width: 470px;
  line-height: 0; }
@media (max-width: 900px) {
  /* line 544, ../sass/style.scss */
  .image-right {
    margin-right: 0;
    max-width: 300px; } }

@media (max-width: 700px) {
  /* line 556, ../sass/style.scss */
  .image-left, .image-right {
    margin: 20px auto;
    max-width: 80%;
    display: block;
    text-align: center;
    float: none; } }

/* line 567, ../sass/style.scss */
.image-center {
  margin: 40px auto;
  max-width: 450px;
  line-height: 0; }

/* Header Image
-------------------------------------------------------------- */
/* line 576, ../sass/style.scss */
#header {
  position: relative;
  width: 100%;
  height: 70vh; }
@media (max-width: 700px) {
  /* line 576, ../sass/style.scss */
  #header {
    height: 40vh; } }

/* line 586, ../sass/style.scss */
#logo {
  z-index: 100;
  position: absolute;
  display: table;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0; }
/* line 595, ../sass/style.scss */
#logo .inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
/* line 601, ../sass/style.scss */
#logo img {
  max-width: 800px; }
@media (max-width: 700px) {
  /* line 601, ../sass/style.scss */
  #logo img {
    max-width: 80%;
    margin-top: 20px; } }

/* line 611, ../sass/style.scss */
.tri-down {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 100;
  opacity: .9; }
@media (max-width: 700px) {
  /* line 611, ../sass/style.scss */
  .tri-down {
    top: -80px; } }

/* line 623, ../sass/style.scss */
#bg-image {
  position: fixed;
  width: 100%;
  height: 70vh;
  z-index: 1;
  background: url(../images/header/O+P-inside-1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* line 639, ../sass/style.scss */
.front .bg-image {
  background: url("../images/header/O+P-inside-1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
@media (max-width: 700px) {
  /* line 639, ../sass/style.scss */
  .front .bg-image {
    background: url("../images/header/O+P-inside-1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

/* line 643, ../sass/style.scss */
.page-info .bg-image {
  background: url("../images/header/O+P-food-1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
@media (max-width: 700px) {
  /* line 643, ../sass/style.scss */
  .page-info .bg-image {
    background: url("../images/header/O+P-food-1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

/* line 647, ../sass/style.scss */
.page-press .bg-image {
  background: url("../images/header/O+P-food-2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
@media (max-width: 700px) {
  /* line 647, ../sass/style.scss */
  .page-press .bg-image {
    background: url("../images/header/O+P-food-2.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

/* line 651, ../sass/style.scss */
#menu-header, #press-header, #info-header {
  position: relative;
  width: 100%;
  height: 500px;
  text-align: center;
  color: #fff;
  font-family: "LatoLight";
  font-size: 4em;
  letter-spacing: 10px;
  text-transform: uppercase;
  display: table; }
/* line 665, ../sass/style.scss */
#menu-header .pane-content, #press-header .pane-content, #info-header .pane-content {
  display: table-cell;
  vertical-align: middle; }
/* line 671, ../sass/style.scss */
#menu-header span, #press-header span, #info-header span {
  width: 100px;
  background-color: #fff;
  height: 2px;
  margin: 20px auto;
  display: block; }
@media (max-width: 700px) {
  /* line 651, ../sass/style.scss */
  #menu-header, #press-header, #info-header {
    font-size: 2em;
    height: 250px; } }

/* line 685, ../sass/style.scss */
#menu-header {
  background: url("../images/header/O+P-food-1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
@media (max-width: 700px) {
  /* line 685, ../sass/style.scss */
  #menu-header {
    background: url("../images/header/O+P-food-1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

/* line 689, ../sass/style.scss */
#press-header {
  background: url("../images/header/O+P-meat-1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
@media (max-width: 700px) {
  /* line 689, ../sass/style.scss */
  #press-header {
    background: url("../images/header/O+P-meat-1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

/* line 693, ../sass/style.scss */
#info-header {
  background: url("../images/header/O+P-bar-1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
@media (max-width: 700px) {
  /* line 693, ../sass/style.scss */
  #info-header {
    background: url("../images/header/O+P-bar-1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

/* MENU
-------------------------------------------------------------- */
/* line 701, ../sass/style.scss */
.view-today-s-menu {
  padding: 80px 0; }
@media (max-width: 700px) {
  /* line 701, ../sass/style.scss */
  .view-today-s-menu {
    padding: 20px 0; } }

/* line 709, ../sass/style.scss */
.field-name-field-menu-section, .view-today-s-menu .views-row {
  border: #4e4338 solid 2px;
  max-width: 700px;
  margin: 0 auto 40px; }
/* line 715, ../sass/style.scss */
.field-name-field-menu-section .views-field-title, .view-today-s-menu .views-row .views-field-title {
  margin-top: 40px; }
/* line 719, ../sass/style.scss */
.field-name-field-menu-section .field-name-body, .view-today-s-menu .views-row .field-name-body {
  padding: 10px 40px 40px; }
@media (max-width: 700px) {
  /* line 709, ../sass/style.scss */
  .field-name-field-menu-section, .view-today-s-menu .views-row {
    margin: 0 auto 20px; }
  /* line 726, ../sass/style.scss */
  .field-name-field-menu-section .field-name-body, .view-today-s-menu .views-row .field-name-body {
    padding: 10px 20px 20px; } }

/* line 732, ../sass/style.scss */
#menu-details {
  background: url(../images/O+P-bg-dk.jpg);
  padding: 40px;
  text-align: center; }
/* line 737, ../sass/style.scss */
#menu-details p {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; }

/* line 744, ../sass/style.scss */
.field-name-field-menu-section-title {
  font-family: "special_eliteregular", serif;
  font-size: 1.5em;
  margin-bottom: 10px;
  letter-spacing: 2px; }

/* line 751, ../sass/style.scss */
.field-name-field-menu-item {
  margin-bottom: 20px; }

/* line 755, ../sass/style.scss */
.field-name-field-menu-item-description {
  display: inline; }

/* line 759, ../sass/style.scss */
.krumo-root {
  z-index: 1000; }

/* line 765, ../sass/style.scss */
.service-links li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }

/* line 771, ../sass/style.scss */
.scrolloff {
  pointer-events: none; }
